/*i.icon {
    font-size: 2em;
}
*/

.container.main {
    margin-top: 7em;
}

.description {
    padding: 1em 0em;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}
